.about_style p {
    font-size: 20px;
    padding: 20px;
    text-align: justify;
}

.about_slide2 {
    margin: 20px;
    width: 600px;
    height: 350px;
}

/* For screens smaller than 768px (Tablets & Mobiles) */
@media (max-width: 768px) {
    .about_slide2 {
        margin: 0;
        width: 100%;
        height: auto;
    }
}

/* For screens smaller than 480px (Small mobiles) */
@media (max-width: 480px) {
    .about_slide2 {
        width: 100%;
        height: auto;
    }
}
